pkgbase = breeze-transparent
	pkgdesc = Breeze widget style and window decoration with translucent window backgrounds
	pkgver = 6.7.5
	pkgrel = 5
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	license = LGPL-2.0-or-later
	makedepends = breeze
	makedepends = python
	makedepends = extra-cmake-modules
	makedepends = frameworkintegration
	makedepends = kcmutils
	makedepends = kcolorscheme
	makedepends = kconfig
	makedepends = kcoreaddons
	makedepends = kdecoration
	makedepends = kguiaddons
	makedepends = ki18n
	makedepends = kiconthemes
	makedepends = kwidgetsaddons
	makedepends = kwindowsystem
	makedepends = python-cairo
	makedepends = qt6-base
	makedepends = qt6-declarative
	makedepends = sassc
	noextract = breeze-6.7.5.tar.xz
	noextract = breeze-gtk-6.7.5.tar.xz
	source = https://download.kde.org/stable/plasma/6.7.5/breeze-6.7.5.tar.xz
	source = https://download.kde.org/stable/plasma/6.7.5/breeze-6.7.5.tar.xz.sig
	source = https://download.kde.org/stable/plasma/6.7.5/breeze-gtk-6.7.5.tar.xz
	source = https://download.kde.org/stable/plasma/6.7.5/breeze-gtk-6.7.5.tar.xz.sig
	source = breeze-transparent.patch
	source = breeze-gtk-transparent.patch
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = aa05c0c31c852ed5b137327e7798fd763a54c643875d5d8070625475e0af6976
	sha256sums = SKIP
	sha256sums = 4e0e913b0515de75492155d028c086c4a522a3f68ebb6f4fab10f8bc646cd518
	sha256sums = SKIP
	sha256sums = f76809baf5a068d6082642b531ce27392b87a23d3d86b203fdabdbdd50dc42dc
	sha256sums = 42c7811ae0ed83a9fd1ab37be44f8702e135ded322b8b999dc9c5505e7aa756f

pkgname = breeze-transparent
	depends = frameworkintegration
	depends = glibc
	depends = kcmutils
	depends = kcolorscheme
	depends = kconfig
	depends = kcoreaddons
	depends = kdecoration
	depends = kguiaddons
	depends = ki18n
	depends = kiconthemes
	depends = kwidgetsaddons
	depends = kwindowsystem
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	optdepends = breeze: translations of the configuration dialogs
	optdepends = breeze-transparent-gtk: matching GTK theme

pkgname = breeze-transparent-gtk
	pkgdesc = Breeze widget theme for GTK 2, 3 and 4 with translucent window backgrounds
	arch = any
	depends = 
	optdepends = breeze-transparent: matching Qt widget style and window decoration
